@font-face {
    font-family: 'Brown-Regular';
    src: url('type/Brown-Regular.eot');
    src: url('type/Brown-Regular.woff2') format('woff2'),
        url('type/Brown-Regular.woff') format('woff'),
        url('type/Brown-Regular.ttf') format('truetype'),
        url('type/Brown-Regular.svg#Brown-Regular') format('svg'),
        url('type/Brown-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrownStd-Bold';
    src: url('BrownStd-Bold.eot');
    src: url('BrownStd-Bold.woff2') format('woff2'),
        url('BrownStd-Bold.woff') format('woff'),
        url('BrownStd-Bold.ttf') format('truetype'),
        url('BrownStd-Bold.svg#BrownStd-Bold') format('svg'),
        url('BrownStd-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


/*
* Base structure
*/



a,
a:focus,
a:hover {
    color: #fff;
}

html,
body {
    height: 100%;
}
body {
    text-rendering: optimizeLegibility;

}

img {
    width: 100%;
}

/*padding & margin */


#video {
    padding: 8em 0;
}


#contact {
    padding-top:4em;
}


.sep {
    max-width: 80px;
    border: 2px solid #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}


.sep-dot {
    max-width: 1px;
    border-radius: 100%;
    border: 5px solid #fff;
}

/* Navbar */

.logo {
    max-width: 3em;
}

.footer-logo {
    max-width: 4em;
    margin-top: 1em;
}

.navbar {
    position: absolute;
    top:0;
    width: 100%;
    background-color: #222;
}
.navbar {
    position: absolute;
    top:0;
    width: 100%;
    background-color: #222;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #fff;
    transition: 1s;
}



.navbar {
    background-color: rgba(0,0,0,0.0001);
}

.nav-link:hover {
    color: #666;
    transition: 0.4s;
}

.nav-link {
    font-family: 'BrownStd-Bold', serif;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.14375em;
    color: #272727;
    padding-top: 2em;
    margin-right: 3em;

}

/* Cover */ 

#hero-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background: url(img/smoke-min.jpg) center center no-repeat;
    background-size: cover;
}



#cover-heading {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    text-align: center;
    color: #2D2D2D;
    margin-bottom: 2.4375rem;
}

#cover-container {
    margin: 0 auto;
    text-align: center;
    background-color: none;
    padding: 20px;
}

#tagline {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1em;
    text-align: center;
    letter-spacing: none;
    margin-bottom: 2.4375rem;
}

.lead p,
#contact-tag,
.btn-block {
    font-family: 'BrownStd-Bold', serif;
    letter-spacing: 0.166875rem;
    color: #E0E0E0;
    padding:0;
    margin:0;
    text-transform: uppercase;
}

#contact-tag {
    color: #0d0d0d;
}

.btn-block {
    padding: 1.7em;
}


.btn {
    border-radius: 0;
}

.btn-outline-secondary {
    border: 0.125em solid #E0E0E0!important;
}

#cta-text p {
    font-size: 0.5em;
    letter-spacing: 0.096em;
}

.btn-outline-secondary:hover {
    color: white;
    background-color: #0D0D0D;
    border-color: #0D0D0D !important;
    transition: 0.3s;
}

.btn-lg {
    padding: 1rem 2rem;
}




/* About Section */


#about {
    background-color: #0D0D0D;
    color: #E0E0E0;
    padding-top: 0;
    overflow: hidden;
}

.heading {

    font-family: 'Nothing You Could Do', cursive;
    letter-spacing: 0.190625;
    font-size: 3.5rem;
    color: #E0E0E0;
}


.text-content,
.project-name,
.project-category {
    font-family: 'Brown-Regular', serif;
    font-size: 0.875em;
    line-height: 2;
    letter-spacing: 0.0475em;
    padding: 0;
    color:#e0e0e0;
}


#oli {
    width: 100%;
    max-width: 25em;
}

/* Video section */


#video {
    background: url(img/black-wood-min.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #F5F5F5;
    position: relative;
}

#video-content {
    width: 100%;
}


/* Portfolio Section */

#portfolio-heading {
    margin-top: 1em;
    margin-bottom: 1em;

}


#portfolio,
#testimonials {
    text-align: center;
    background-color: #0d0d0d;
    color: #F5F5F5;
    overflow: hidden;
}
.sep-black {
    border-color: black;
}

.port-sep {
    margin-bottom: 8rem;
}

.project-name {
    color:#fff;
    line-height: 1.5;
}

.project-category {
    font-family: 'BrownStd-Bold', serif;
    line-height: 1.5;
    color: #fff;
    font-size: 0.75em;
    letter-spacing: 0.14375em;

}

#portfolio p {
    margin-bottom: 40px;
}
#portfolio .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
#portfolio .container-fluid .col-md-4,
portfolio .container-fluid .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}
#portfolio .portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}
#portfolio .portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(13, 13, 13, 0.6);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
}
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
}

#portfolio .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}


/* Testimonials Section */

#testimonials {
    padding: 2em 0;
}

.quote {
    padding: 1em
}
.source {
    font-weight: 400;
    font-style: italic;
}

.fa-padding {
    padding: 0 5px;
}





/* ==========================================================================
Footer Map Style
========================================================================== */
#map {
    width: 100%;
    height: 200px;
}

footer {
    color: #e0e0e0;
    text-align: center;
    background-color: #0d0d0d;
    padding: 2em;
}

#brand {
    font-family: 'Kaushan Script', cursive;
    text-transform: none;
    font-size: 3em;
}

footer h1 {
    text-transform: uppercase;
    font-weight: 700;
}
footer .social {
    margin: 2em;
}
footer .social a {
    color: #fff;
    margin-left: 0.5em;
    margin-right: 0.5em;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.grey {
    color: #e0e0e0;
}

.grey:hover {
    color: #fff;
    transition: 0.5s;
}

footer h6 {

    letter-spacing: 0.14375em;
    text-transform: uppercase;
    color: #fafafa;
}

.footer-text {
    font-size: 0.75em;

}

.wow, 
.fadeInUp {
    visibility: hidden;
}





@media (min-width: 576px) {

    .logo {
        max-width: 4em;
    }

    .nav-link:hover {
        color: #666;
        transition: 0.4s;
    }


    .nav-link {
        font-size: 0.875em;
        letter-spacing: 0.14375em;
        color: #272727;
        padding-top: 2em;
        margin-right: 3em;

    }

    #cover-heading {
        font-family: 'Playfair Display', serif;
        font-size: 3em;
        color: #2D2D2D;
        margin-bottom: 2.4375rem;
    }



    #tagline {
        font-family: 'Nothing You Could Do', cursive;
        font-size: 1.5em;
        letter-spacing: none;
        margin-bottom: 2.4375rem;
    }

    #cta-text p {
        font-size: 0.875rem;
        letter-spacing: 0.14375rem;
    }

.btn-outline-secondary:hover {
    color: white;
    background-color: #0D0D0D;
    border-color: #0D0D0D !important;
    transition: 0.3s;
}

    #video {
        padding-top: 2em;
    }

    #cover-container {
        width: 42rem;
        margin: 0 auto;
        text-align: center;
        padding: 20px;
        color: #2d2d2d;
    }
    
   

    .sep-dot {
        max-width: 0;
        border-radius: none;
        border: none;
    }

    #about-video-bg {
        background: url(img/black-wood-min.jpg) no-repeat center center fixed;
        background-attachment: scroll;

    }
    
    #about {
        padding-top: 5.5em;
    }
  
    
    #testimonials {
    padding: 8em 0;
}

#map {
    width: 100%;
    height: 300px;
}
    
footer .social {
    margin: 2em;
}
footer .social a {
    color: #fff;
    margin-left: 1em;
    margin-right: 1em;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
    
.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}


}

@media (min-width: 960px) {


